h1 {
    font-family: "Megrim", cursive;
    text-align: center;
    opacity: 0.9;
    filter: Alpha(opacity=90);
}
section { 
    height: 100vh; 
    padding: 2vw;
    font-size: 4vw; 
}
section { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; 
}
section:first-of-type { 
    text-transform: uppercase;
    font-size: 7vw;
}
section {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
section.nth-of-type(odd) { 
    color: #fff;
    background-color: #000;
    text-shadow: 0 0 5px rgba(0,0,0,0.4); 
}
section:nth-child(1) { 
    background-image: url(../_image/fundosite1.jpg); 
    background-position: center;
    
}
section:nth-child(3) { 
    background-image: url(../_image/fundosite2.jpg);
    background-position: center;
}
section:nth-child(5) { 
    background-image: url(../_image/fundosite3.jpg);
    background-position: top;
}
section:nth-child(7) { 
    background-image: url(../_image/fundosite5.jpg);
    background-position: center;
}
section:nth-child(9) { 
    background-image: url(../_image/fundosite4.jpg);
    background-position: center;
    }

.navbar-brand {
    object-position: top;
    
}

